extends ../base/site-layout

block append head
    script(src='/static/third-party/highcharts/js/highcharts.js')
    script(src='/static/third-party/highcharts/modules/exporting.js')
    link(rel='stylesheet', type="text/css", href= "/static/third-party/highcharts/css/highcharts.css")

    script(src='/static/monkey/js/task-timeline.js')

block content
    h3#title 覆盖率-时间趋势图
    hr

    #errMsg
        if errMsg
            pre= errMsg


    div
        - if (task_info.task_id)
            div(style="padding: 0;")
                dl.dl-horizontal(style="margin-bottom: 5px")
                    dt(style="text-align: left")= 'Task ID'
                    dd#task_id= task_info.task_id
            div(style="padding: 0;")
                dl.dl-horizontal(style="margin-bottom: 5px")
                    dt(style="text-align: left")= '时长'
                    dd#task_duration= 'Loading ...'

        - if (task_info.product)
            div(style="padding: 0;")
                dl.dl-horizontal(style="margin-bottom: 5px")
                    dt(style="text-align: left")= '产品'
                    dd#product= task_info.product

        - if (task_info.version)
            div(style="padding: 0;")
                dl.dl-horizontal(style="margin-bottom: 5px")
                    dt(style="text-align: left")= '版本'
                    dd#version= task_info.version

        hr
        div#div_timeline
            div#div_acr
                - if (task_info.task_id)
                    h5 任务 覆盖率趋势图
                - else
                    h5 版本 覆盖率趋势图
                div#acr_timeline
                    div#div_loading_timeline(align="center")
                        img(src="/static/public-img/loading/loading_noodles.gif", style='width: 80%; min-width: 500px!important')


block append script
    script.
        var page_name = 'task_timeline';
        if (! $("#task_id").length > 0) {    // 不是 task-timeline
            page_name = 'version_timeline';
        }

        console.log('page_name: ' + page_name);

        var d = #{task_info.duration};
        if (d < 0)
            $('#task_duration').text('Sorry, I can not tell you the task duration.');
        else {
            $('#task_duration').text(Math.floor(d / 3600) + ' 小时 ' + Math.floor((d % 3600) / 60) + ' 分钟 ' + Math.ceil(d % 60) + ' 秒');
        }

